.helper {
  padding: 0 30px 30px;
  .helper-body {
    padding: 0 10px;
    .icon {
      margin-right: 10px;
    }

    .content {
      color: #35A7FF;
      font-weight: 300;
      font-size: 0.8rem;
    }
  }
}
